@import url("https://fonts.googleapis.com/css?family=Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: auto;
    overflow-x: hidden;
    font-family: "Lato", "Segoe UI", Helvetica, Arial, sans-serif;
}
body {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
main {
    display: block;
    text-align: center;
    margin-bottom: 5%;
}
#header {
    min-height: 10vh;
    width: 100vw;
    flex-direction: row;
    align-content: space-between;
}
h1,
h3 {
    font-family: "Dokdo", "Lato", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 60px;
}
h2 {
    font-family: "Rakkas", cursive;
    margin-bottom: 5vh;
}
#title {
    position: fixed;
    top: 6vh;
    left: 6vh;
    font-size: 70px;
}
#header .link {
    margin: 2%;
    font-size: 2em;
    text-decoration: none;
    font-family: "Dokdo", "Lato", "Segoe UI", Helvetica, Arial, sans-serif;
}
img#logo-pic {
    max-height: 18vh;
    margin: 10px;
    position: fixed;
    top: 1vh;
    left: 2vw;
}
div.gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin: 5%;
}
div.category {
    height: 33vh;
    width: 15vw;
    padding: 15px;
    margin: 3em;
}
img.cat-pic {
    max-height: 28vh;
}
div.artist-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 3%;
    margin-left: 15%;
}
div.artist-pic-wrapper {
    padding: 2%;
    margin-left: 3%;
    width: 35vw;
}
p.author {
    margin-left: 5px;
    margin-right: 5px;
}
img.artist-pic {
    width: 18vw;
    margin-top: 20%;
    filter: drop-shadow(0 -2mm 2mm rgb(29, 25, 31));
}
.player {
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
}
div.defile-div {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: #c3c9ce solid 3px;
    height: 45vh;
    padding-bottom: 0;
    padding-left: 5%;
    margin: 5%;
}
img.defile-pic {
    height: 30vh;
    max-width: 20vw;
}
p.artist-name {
    font-family: "Dokdo";
    font-size: 3em;
}
.card-block {
    flex: 0 0 auto;
    margin: 5%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.category-title {
    font-size: 2em;
    color: #2c3033;
}
div.songs-container {
    min-width: 25vw;
}
div.song-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
div.songs-pic-wrapper {
    min-width: 28vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: dotted 1px grey;
}
.song {
    font-size: 1em;
    font-family: "Lato";
    font-weight: bold;
    margin: 10px 0 0 0;
}
.album {
    font-size: 0.6em;
    font-family: "Lato";
    margin: 13px 10px 0 0;
}
img.song-pic {
    margin-right: 15px;
}
a.add {
    text-decoration: none;
    border: 1px solid #5c85a5;
    border-radius: 50%;
    margin: 15px;
    padding: 1px 5px;
}

/* mixtapes component  */
div.playlist-container {
    position: fixed;
    top: 2vh;
    right: 1vw;
    z-index: 3000;
    display: inline-block;
    background-color: white;
    border: #b7babb solid 2px;
    height: 80vh;
    width: 15vw;
    padding: 3%;
    font-size: smaller;
}
ul {
    text-align: left;
}
li.track {
    list-style: none;
    padding: 0;
    margin: 5px;
    font-size: 14px;
    text-align: left;
    font-family: "Dokdo", "Lato";
}
.container-mix-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}
#submit-playlist {
    align-self: center;
    margin: 1em;
}
input {
    margin: 10px;
    height: 17px;
    border: none;
    border-bottom: #2c3033 3px solid;
}
.close {
    position: fixed;
    top: 3vh;
    right: 2vw;
    cursor: pointer;
}
.mix-toggle {
    position: fixed;
    right: 1vw;
    top: 32vh;
}
input#mix {
    color: #2c3033;
    font-family: "Dokdo", "Lato";
    font-size: 3em;
    height: 80px;
    border-bottom: none;
}

/* Jukebox component */

div.jukebox-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    /* justify-content: space-between; */
    margin: 5%;
}
div.mix-element {
    width: 16vw;
}
@media only screen and (min-width: 42em) and (max-width: 64em) {
    div.gallery-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 5%;
    }
    div.category {
        height: 43vh;
        width: 95vw;
        padding: 15px;
        margin: 3em;
        /* -webkit-box-shadow: 5px 5px 10px -2px #898b8d;
        box-shadow: 5px 5px 10px -2px #898b8d; */
    }
    .category-title {
        font-size: 6em;
        color: #2c3033;
    }
}
